@import "../colors";

/* ===================================================================
 * Date applet
 * ===================================================================*/
/*calendar-background allows the date applet calendar to be themed separately from other applet menus*/
.calendar-background {}

.calendar {
    width: 300px;
    padding: 0.4em 1.75em;
    spacing-rows: 0px;
    spacing-columns: 5px;
}

.calendar-month-label {
    color: $fg-primary;
    font-size: $font-size;
    padding: 8px 0;
    font-weight: bold;
}

.calendar-change-month-back {
    width: 18px;
    height: 12px;
    background-image: url("common-assets/misc/calendar-arrow-left.svg");
    border-radius: $border-radius;
}

.calendar-change-month-back:rtl {
    background-image: url("common-assets/misc/calendar-arrow-right.svg");
}

.calendar-change-month-back:hover {
    background-image: url("common-assets/misc/calendar-arrow-left-hover.svg");
}

.calendar-change-month-back:active {
    background-image: url("common-assets/misc/calendar-arrow-left.svg");
}

.calendar-change-month-forward {
    width: 18px;
    height: 12px;
    background-image: url("common-assets/misc/calendar-arrow-right.svg");
    border-radius: $border-radius;
}

.calendar-change-month-forward:rtl {
    background-image: url("common-assets/misc/calendar-arrow-left.svg");
}

.calendar-change-month-forward:hover {
    background-image: url("common-assets/misc/calendar-arrow-right-hover.svg");
}

.calendar-change-month-forward:active {
    background-image: url("common-assets/misc/calendar-arrow-right-hover.svg");
}

.datemenu-date-label {
    padding: 0.4em 1.75em;
    font-size: 12pt;
    font-weight: bold;
}

.calendar-day-base {
    font-size: 1em;
    text-align: center;
    width: 2.2em;
    height: 2.2em;
}

.calendar-day-base:hover {
    color: $fg-primary;
}

.calendar-day-base:active {
    font-weight: bold;
}

.calendar-day-heading {
    padding-top: 0.5em;
}

.calendar-week-number {
    font-size: 0.8em;
    margin-top: 0.8em;
}

/* Hack used in lieu of border-collapse - see calendar.js */
.calendar-day {
    border: 0px solid rgba($border-color, 0);
    color: white;
    border-top-width: 0;
    border-left-width: 0;
}

.calendar-day-top {
    border-top-width: 0px;
}

.calendar-day-left {
    border-left-width: 0px;
}

.calendar-work-day {}

.calendar-nonwork-day {}

.calendar-today {
    font-weight: bold;
    background-color: rgba($bg-select, 1);
    border-radius: $border-radius;
}

.calendar-other-month-day {
    color: rgba($fg-secundary, 0.5);
}

.calendar-day-with-events {
    font-weight: bold;
    color: $fg-primary;
}