@import "../colors";

/* ===================================================================
 * On screen keyboard
 * ===================================================================*/
 #keyboard {
    background-color: $bg-primary;
}

.keyboard-layout {
    spacing: 10px;
    padding: 10px;
}

.keyboard-row {
    spacing: 20px;
}

.keyboard-key {
    min-height: 30px;
    min-width: 30px;
    background-color: $bg-keyboard;
    font-size: 14pt;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid $border-color;
    color: $fg-primary;
}

.keyboard-key:grayed {
    color: $fg-keyboard;
    border-color: $bg-select;
}

.keyboard-key:checked,
.keyboard-key:hover {
    background: $bg-select;
    border: 1px solid $border-color;
}

.keyboard-key:active {
    background: $bg-select;
}

.keyboard-subkeys {
    color: $fg-primary;
    padding: 5px;
    -arrow-border-radius: 10px;
    -arrow-background-color: #090909;
    -arrow-border-width: 2px;
    -arrow-border-color: $fg-primary;
    -arrow-base: 20px;
    -arrow-rise: 10px;
    -boxpointer-gap: 5px;
}