@import "../colors";

/* ===================================================================
 * Overview (workspace.js)
 * ===================================================================*/
 #overview {
    spacing: 12px;
}

.workspace-thumbnails {
    spacing: 14px;
}

.workspace-add-button {
    background-image: url("common-assets/misc/add-workspace.svg");
    height: 200px;
    width: 35px;
    transition-duration: 300;
}

.workspace-add-button:hover {
    background-image: url("common-assets/misc/add-workspace-hover.svg");
    transition-duration: 300;
}

.workspace-close-button {
    background-image: url("common-assets/misc/close.svg");
    height: 34px;
    width: 34px;
    -cinnamon-close-overlap: 20px;
}

.workspace-close-button:hover {
    background-image: url("common-assets/misc/close-hover.svg");
    height: 34px;
    width: 34px;
    -cinnamon-close-overlap: 20px;
}

.window-caption {
    background-color: $bg-primary;
    border: 1px solid #202020;
    color: $fg-primary;
    padding: 0.5em;
    spacing: 0.5em;
    -cinnamon-caption-spacing: 8px;
}

.window-caption:focus {
    color: $fg-primary;
    background-color: $bg-select;
}

.window-border {
    border: 2px $bg-select;
    background-color: rgba(255, 255, 255, 0.05);
    /* Cover rounded corners and some bad adjustment gaps */
    box-shadow: 0 0 0 1px $bg-select inset;
}

.window-close {
    background-image: url("common-assets/misc/close.svg");
    height: 28px;
    width: 28px;
    -cinnamon-close-overlap: 13px;
}

.window-close:hover {
    background-image: url("common-assets/misc/close-hover.svg");
}

.window-close-area {
    background-image: url("common-assets/misc/trash-icon.png");
    background-size: 100px;
    background-color: $bg-primary;
    border: 1px solid $border-color;
    border-bottom-width: 0px;
    border-radius: 20px 20px 0px 0px;
    height: 120px;
    width: 400px;
}

.expo-background {
    background-color: rgba(60, 60, 60, 1);
}

.workspace-overview-background-shade {
    background-color: rgba(45, 45, 45, 0.4);
}

.expo-workspace-thumbnail-frame {
    border: 1px solid $border-color;
    background-color: rgba(45, 45, 45, 1);
}

.expo-workspace-thumbnail-frame#active {
    border: 1px solid $bg-select;
    background-color: $bg-select;
}

.expo-workspaces-name-entry {
    padding: 10px 5px;
    font-size: 9pt;
    width: 250px;
    height: 15px;
    background-color: $fg-primary;
    border: 0.1em solid $border-color;
    border-radius: 4px;
    color: black;
    selection-background-color: $bg-select;
    selected-color: $fg-primary;
    caret-size: 1px;
}

.expo-workspaces-name-entry#selected {
    background-color: $bg-select;
    border: 0.1em solid $border-color;
    color: $fg-primary;
}

.expo-workspaces-name-entry:focus {
    color: black;
    transition-duration: 300;
}

.overview-empty-placeholder {
    color: $fg-primary;
    text-shadow: black 5px 5px 5px;
    font-weight: bold;
    font-size: 48pt;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.6);
}