@import "../colors";

/* ===================================================================
 * Panel (panel.js)
 * ===================================================================*/

#panel {
    color: $fg-secundary;
    font-weight: normal;
    height: 32px;
    width: 32px;
    padding: 0px;
    background-color: rgba($bg-primary, 1);
}

.panel-left {
    box-shadow: 1px 0px 0px 0px rgba($bg-shadown, 1);
}

.panel-right {
    box-shadow: -1px 0px 0px 0px rgba($bg-shadown, 1);
}

.panel-top {
    box-shadow: 0px 1px 0px 0px rgba($bg-shadown, 1);
}

.panel-bottom {
    box-shadow: 0px -1px 0px 0px rgba($bg-shadown, 1);
}

#panel:highlight {
    background-color: #aa5555;
}

.panel-dummy {
    background-color: rgba(47, 47, 47, 0.4);
}

.panel-dummy:entered {
    background-color: rgba(255, 35, 35, 0.4);
}

#panelLeft,
#panelCenter {
    spacing: 4px;
}

#panelLeft:dnd {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(255, 0, 0, 0.05);
    background-gradient-end: rgba(255, 0, 0, 0.2);
}

#panelLeft.vertical:dnd {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(255, 0, 0, 0.05);
    background-gradient-end: rgba(255, 0, 0, 0.2);
}

#panelCenter:dnd {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0, 255, 0, 0.05);
    background-gradient-end: rgba(0, 255, 0, 0.2);
}

#panelCenter.vertical:dnd {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(0, 255, 0, 0.05);
    background-gradient-end: rgba(0, 255, 0, 0.2);
}

#panelRight:dnd {
    background-gradient-direction: vertical;
    background-gradient-start: rgba(0, 0, 255, 0.05);
    background-gradient-end: rgba(0, 0, 255, 0.2);
}

#panelRight.vertical:dnd {
    background-gradient-direction: horizontal;
    background-gradient-start: rgba(0, 0, 255, 0.05);
    background-gradient-end: rgba(0, 0, 255, 0.2);
}

#panelLeft:ltr {
    padding-right: 4px;
}

#panelLeft:rtl {
    padding-left: 4px;
}

#panelRight:ltr {
    padding-left: 0px;
    spacing: 0px;
}

#panelRight:rtl {
    padding-right: 0px;
    spacing: 0px;
}

#panelLeft.vertical:ltr {
    padding-right: 0px;
}

#panelLeft.vertical:rtl {
    padding-left: 0px;
}

.system-status-icon {
    padding-left: 0px;
    padding-right: 0px;
    spacing: 0px;
    margin: 0px;
}

.system-status-icon.warning {
    color: $fg-status-warning;
}

.system-status-icon.error {
    color: $fg-status-error;
}

.panel-corner {
    -panel-corner-radius: 0;
    -panel-corner-background-color: rgba($bg-primary, 0);
    -panel-corner-inner-border-width: 0px;
    -panel-corner-inner-border-color: transparent;
    -panel-corner-outer-border-width: 1px;
    -panel-corner-outer-border-color: $border-color;
}

.panel-corner:active,
.panel-corner:overview,
.panel-corner:focus {
    -panel-corner-inner-border-color: rgba($bg-primary, 0);
}

.popup-menu-item-dot {}

.system-status-icon {
    icon-size: 1.45em;
}