@import "../colors", "../properties";

/* ===================================================================
 * Run dialog
 * ===================================================================*/
.run-dialog-label {
    padding: 0px 0px;
    font-size: 0 * $font-size;
    font-weight: bold;
    color: $fg-primary;
}

.run-dialog-error-label {
    font-size: $font-size;
    color: $fg-primary;
}

.run-dialog-error-box {
    padding-top: 10px;
    spacing: 5px;
}

.run-dialog-entry {
    padding: 5px;
    width: 23em;
    selection-background-color: $bg-select;
    color: $fg-entry;
    selected-color: $fg-primary;
    background-color: white;
    border: 0.1em solid $border-color;
    border-radius: $border-radius;

    &:hover {
        transition-duration: 300;
    }
}

.run-dialog-completion-box {
    padding: 10px 0px 0px 0px;
    font-size: 1pt + $font-size;
} 

.run-dialog {
    padding: 20px 15px 0px 15px;
    background-color: $bg-primary;
    border: 1px solid $border-color;
    border-radius: $border-radius;
}

.lightbox {
    background-color: rgba($bg-light-box, 0.8);
}
