$url-switch: "common-assets/switch/switch-off.svg";
$url-switch-checked: "common-assets/switch/switch-on.svg";

$url-corner-ripple: "common-assets/misc/corner-ripple.svg";

$url-calendar-arrow-left: "common-assets/misc/calendar-arrow-left.svg";
$url-calendar-arrow-left-hover: "common-assets/misc/calendar-arrow-left-hover.svg";
$url-calendar-arrow-right: "common-assets/misc/calendar-arrow-right.svg";
$url-calendar-arrow-right-hover: "common-assets/misc/calendar-arrow-right-hover.svg";

$url-checkbox-off: "common-assets/checkbox/checkbox-off.svg";
$url-checkbox: "common-assets/checkbox/checkbox.svg";
$url-radiobutton-off: "common-assets/checkbox/radiobutton-off.svg";
$url-radiobutton: "common-assets/checkbox/radiobutton.svg";
$url-message: "common-assets/misc/message.svg";
