$bg-primary: #2f2f2f;
$bg-select: #1565c0;
$bg-select-second: #646464;
$bg-shadown: #141414;
$bg-popup-menu: #383838;
$bg-popup-submenu: #414141;
$bg-light-box: #2f2f2f;

$fg-primary: #ffffff;
$fg-secundary: #cccccc;
$fg-link: #0000ff;
$fg-link-hover: #0000e0;
$fg-status-warning: #e1da1a;
$fg-status-error: #d54444;

$border-color: #202020;

$bg-button: #454545;

$fg-entry: #282828;
$bg-entry: #3c3c3c;

$bg-level-bar: #ffffff;

